.number-text {
  &__wrapper {
    max-width: 706px;
    margin: 0 auto;
    @include breakpoint(small down) {
      max-width: 326px;
      margin: 0 auto;

    }
  }

  &__heading {
    margin-bottom: 32px;
    display: flex;

    @include breakpoint(small down) {
      flex-direction: column;
    }

    &.big {
      column-gap: 62px;

      .number-text__number {
        @include breakpoint(small down) {
          margin-bottom: 8px;
        }
      }

      span {
        font-size: 54px;
        line-height: 67px;
        color: $main_color;
      }
    }

    &.small {
      column-gap: 21px;

      .number-text__number {
        @include breakpoint(small down) {
          margin-bottom: 16px;
        }
      }

      span {
        font-size: 28px;
        line-height: 35px;
        font-weight: 500;
        color: $text-color;
        letter-spacing: 0.28px;

        @include breakpoint(medium down) {
          font-size: 26px;
          line-height: 30px;
        }
      }
    }
  }

  &__content {
    .primary-text {
      color: $main_color;
    }

    p:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
