.slider-cards-wrapper {
	padding: 75px 0;
	background-color: $light_gray;

	@include breakpoint(medium) {
		padding: 96px 0 100px;
	}

	.grid-container {
		@include breakpoint(large down) {
			padding: 0;
		}
	}

	&__content {
		text-align: center;
		margin-bottom: 50px;

		@include breakpoint(medium) {
			margin-bottom: 75px;
		}

		&--subtitle {
			margin-bottom: 8px;

			@include breakpoint(medium) {
				margin-bottom: 16px;
			}
		}
	}
}