.slider-image-wrapper {
	.grid-container {
		@include breakpoint(large down) {
			padding: 0;
		}
	}

	.slider-image-desktop {
		display: none;

		@include breakpoint(xlarge) {
			display: block;
		}
	}

	.slider-image-mobile {
		@include breakpoint(xlarge) {
			display: none;
		}
	}
}