// Utils

@import 'inc/mixins';
@import 'inc/vars';
@import "inc/fonts";
@import 'inc/foundation-custom';

// Plugins

@import 'plugins/slick.scss';
@import 'plugins/fontawesome/fontawesome.scss';

/* -----------------------------------------
   WordPress Core Classes
----------------------------------------- */

.alignnone {
	margin: 0 1em 1em 0;
}

.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

@include breakpoint(small down) {
	.alignright, .alignleft, .aligncenter, .alignnone {
		float: none;
		margin: 0 0 1em;
	}
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 100%;
	padding: 5px 5px 10px;
	text-align: center;

	img {
		width: auto;
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 0;
		font-size: 14px;
	}
}

.gallery-caption {
	font-size: 12px;
}

#wpadminbar {
	-webkit-transform: translateZ(0);
}


.wp-video {
	width: 100% !important;

	.mejs-container {
		width: 100% !important;
	}
}

.wp-video-shortcode video, video.wp-video-shortcode {
	width: 100% !important;
}

/* -----------------------------------------
   Fixes
----------------------------------------- */

html {
	height: 100%;
}

body {
	position: static !important;
	height: auto;
	min-height: 100vh;

	@include display-flex();
	@include flex-direction(column);
}

.grid-container {
	width: 100%;
}

*:last-child {
	margin-bottom: 0;
}

/* ---------------------------------------
	Typography
--------------------------------------- */

@import 'typography';


/* ------------------------------------
    Basic Styles
------------------------------------- */

/* Pagination */

ul.pagination {
	margin: 15px 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 3px;
		padding: 0;
		line-height: 1.5;

		span, a {
			display: block;
			padding: 0 7px;

			&.current {
				color: #fff;
				background: $main_color;
				display: block;
			}
		}
	}
}

/* Search form */

#searchform {
	position: relative;
}

#s {
	padding-right: 75px;
}

#searchsubmit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: auto;
	padding: 10px 15px;
	cursor: pointer;

	&::after {
		font-size: 20px;
		font-weight: 900;
		font-family: $fa;
	}
}

/* ---------------------------------------
	Header
--------------------------------------- */

@import 'layout/header';

/* ---------------------------------------
	Footer
--------------------------------------- */

@import 'layout/footer';

/* ---------------------------------------
	Layout
--------------------------------------- */

@import 'layout/layout';

/*---------------------------------------
	TMPL: Home page
---------------------------------------*/

@import 'templates/home';


/* ---------------------------------------
	TMPL: Default page
--------------------------------------- */

@import 'templates/default';

/* ---------------------------------------
	TMPL: Hero
--------------------------------------- */

@import 'templates/hero';

/* ---------------------------------------
	Mac OS Retina Styles
--------------------------------------- */

@import 'retina';

/* ---------------------------------------
	Blocks
--------------------------------------- */

@import 'templates/cards_block';
@import 'templates/counter_block';
@import 'templates/contact_information_block';
@import 'templates/accordion';
@import 'templates/rating_block';
@import 'templates/steps_block';
@import 'templates/fluid_spacer';
@import 'templates/big_cards_block';
@import 'templates/text_image_block';
@import 'templates/quote_block';
@import 'templates/cta_block';
@import 'templates/download_block';
@import 'templates/small_form_block';
@import 'templates/hero_simple';
@import 'templates/form_block';
@import 'templates/page_404';
@import 'templates/simple-text';
@import 'templates/text_center_block';
@import 'templates/events_block';
@import 'templates/text_blocks_and_share';
@import 'templates/number_text_block';
@import 'templates/text_left_block';
@import 'layout/page_badge';
@import 'templates/slider-quote';
@import 'templates/slider-full-image';
@import 'templates/slider-cards';
@import 'templates/slider-show-three-cards';
@import 'templates/thank-page';
@import 'templates/jobs_block';
@import 'templates/slider-show-four-cards';
@import 'templates/slider-image-with-content';
@import 'templates/image_right_card_info_left';
@import 'templates/jobs-filter';
@import 'templates/kontakt-overlay';
@import 'templates/bewerbung-overlay';
@import 'templates/search-overlay';
@import 'templates/popups';
@import 'templates/block-maps';
